<hi:common_header runat="server" />
<style>
    body {background: #dddddd !important; }
    .memberCenter .user-tags li a{
        position:relative;
    }
    .memberCenter .user-tags li a p{
        display:none;
        position: absolute;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        color: #fff;
        top: 2px;
        background: #ff6a00;
        border-radius: 50%;
        font-size: 10px;
        right: 33%;
        border: 1px solid #fff;
    }
    .memberCenter .user-tags li a span{
                position: absolute;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 15px;
                color: #e4393c;
                top: 12px;
                background: #fff;
                border-radius: 50%;
                font-size: 10px;
                right: 30%;
                border: 2px solid #e4393c;
    }
    .jifen-box {top: 60px;}
    .user-arrow {bottom: 30px;} 
    .memberCenter .user-name{width:40%;}
    .memberCenter .member-sign{width: 64px;height: 24px;position: absolute;top: 18%;right: 3.5%;z-index: 9999;}
                    .memberCenter .member-sign img{width: 32%;}
    @media screen and (max-width: 375px) and (min-width: 340px){
           .memberCenter .member-sign{right: 3%;}
    }
    @media screen and (max-width: 414px) and (min-width: 376px){
           .memberCenter .member-sign{right: 2.5%;}
    }
    .member-img-tags li{background: #ffffff url(../images/icon-arrow2.png) no-repeat 96% center;background-size:10px;}
    .member-img-tags{margin-top:10px;}
    .user-tags{border-top:10px solid #DDDDDD;}
    .list i {display:none!important;}
    .span1 {width: 12px!important; height: 12px!important;border-radius: 50%!important;position: absolute !important;display:inline-block;left:84%!important;top:20px!important;background:#ffffff;}
</style>
<div class="home-head memberCenter">
    <a class="member-sign" href="/Vshop/Sign.aspx"><img src="../images/qdqd.png" alt="Alternate Text" /> <span style="position: relative;top:2px;color: #ffffff;">签到</span></a>
    <div class="user-photo-box">
    <div class="user-photo">
        
        <a href="/Vshop/UserInfo.aspx?edit=true"><asp:image runat="server" ImageUrl="/images/user-img.png" id="image"></asp:image></a>
        <!-- <span>V</span> -->
    </div>
    <div class="user-name" onclick="location.href = '/Vshop/UserInfo.aspx?edit=true'">
        <asp:literal runat="server" id="litUserName" /><span><asp:literal id="litUserType" runat="server"></asp:literal></span></div>
<!--    <div class="user-arrow"></div>-->
        <div class="jifen-box"><asp:literal id="litVantages" runat="server" ></asp:literal></div>
    <div style="position:absolute;right:10px;top:10px; color:white; display:none" >
      <asp:literal id="litHeadline" runat="server"   text=" 推荐人昵称："></asp:literal><asp:literal id="litRecommend" runat="server" ></asp:literal></div>
    </div>
    <ul class="user-tags">
        <li>
            <a class="order" href="/Vshop/MemberOrders.aspx?status=0">全部订单
                <!--<span><i id="num_MyOrders">0</i></span>--></a>
        </li>
        <li>
            <a class="pay" href="/Vshop/MemberOrders.aspx?status=1">待付款</a>
        </li>
        <li>
            <a class="delivery" href="/Vshop/MemberOrders.aspx?status=3">配送中</a>
        </li>
        <li runat="server" id="ReturnChangeGoodsArea">
            <a class="return" href="/Vshop/MemberOrderReturn.aspx">退换货</a>
        </li>
    </ul>
   
    <!--<div class="info">
        <div class="title"style="width: 220px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-bottom:2px;">欢迎，【<asp:literal runat="server" id="litMemberGrade" />】</div>
        <div class="presentExp font-m">
       <span class="badge badge-danger">消费：¥<asp:literal runat="server" id="litExpenditure" /></span>
            <a href="logout.aspx"><span class="badge badge-warning">退出登录</span></a>
            </div>
    </div>-->
</div>

<ul class="member-img-tags">
    <li>
        <a class="member-md" href="/Vshop/UserDistributor.aspx">绑定门店</a>
    </li>
<!--    <li>
        <a class="member-userInfo" href="/Vshop/UserInfo.aspx?edit=true">个人资料</a>
    </li>-->
    <li> <a  class="member-collect" href="/Vshop/MyFavorites.aspx">我的收藏</a></li>
    <li>
        <a class="member-refer" href="/Vshop/MyConsultations.aspx">我的咨询</a>
    </li>
    <li>
        <a class="member-juan"  href="/Vshop/myredpager.aspx">我的优惠券<asp:literal id="litMyCouponCount" runat="server" ></asp:literal></a>
    </li>
    <li class="myList" style="position:relative;">
        <a class="member-chat" href="/Vshop/UserChating.aspx">消息列表</a><asp:literal id="litMyOfflineMsgCount"    runat="server"></asp:literal><span class="span1"></span>
    </li>
    <!--<li>
        <a class="member-service" href="/Vshop/SaleService.aspx">售后服务</a>
    </li>-->
    <!--<li>
        <a class="member-juan"  href="/Vshop/GetCoupons.aspx">领取优惠券</a>
    </li>-->
    <li>
        <a class="member-jifen" href="/Vshop/myvantages.aspx">积分兑换</a>
    </li>
  <!--  <li>
        <a  class="member-address" href="/Vshop/EditShippingAddress.aspx">收货地址</a>
    </li>
    <li>
        <a  class="member-fp" href="/Vshop/ReceeiptDz.aspx">电子发票</a>
    </li>
    <li>
        <a  class="member-fp" href="/Vshop/Receeipt.aspx">增值税发票</a>
    </li>-->
    <li>
        <a class="member-msg" href="/Vshop/MystoreMessage.aspx">留言广场</a>
    </li>
<!--    <li>
        <a class="member-sign" href="/Vshop/Sign.aspx">签到</a>
    </li>-->
    <li>
        <a class="member-gift"  href="/Vshop/GetCouponsEx.aspx">微信活动</a>
    </li>
    <li>
        <a class="member-service" href="/Vshop/UserChatChose.aspx" >售后服务</a>
    </li>
    <li style="background: #ffffff url('');">
        <a class="exit" href="logout.aspx">退出</a>
    </li>
    <!--<li><a class="shop-no">更多</a></li>-->
</ul>
<input type="hidden" runat="server" id="memberType" clientidmode="Static" />
<input type="hidden" runat="server" id="isSignOn" clientidmode="Static" />
<input type="hidden" runat="server" id="myOrdersCount" /><!--店铺订单数量-->
<input type="hidden" runat="server" id="memberid" clientidmode="Static" />
<input type="hidden" runat="server" id="distributorId" clientidmode="Static" />

<script type="text/javascript">
    //String.prototype.queryString = function (name) {
    //    var reg = new RegExp("[\?\&]" + name + "=([^\&]+)", "i"), r = this.match(reg);
    //    return r !== null ? unescape(r[1]) : null;
    //};
    //window.onload = function () {
    //    var last = location.href.queryString("_v");
    //    //document.body.innerHTML += last || "";
    //    if (location.href.indexOf("?") == -1) {
    //        location.href = location.href + "?_v=" + (new Date().getTime());
    //    } else {
    //        var now = new Date().getTime();
    //        if (!last) {
    //            location.href = location.href + "&_v=" + (new Date().getTime());
    //        } else if (parseInt(last) < (now - 1000)) {
    //            location.href = location.href.replace("_v=" + last, "_v=" + (new Date().getTime()));
    //        }
    //    }
    //};
    $(function () {
        //不是普通会员，则屏蔽绑定位置功能
        if ($("#memberType").val() != "0") {
            $(".member-md").parent("li").eq(0).hide();
        }
        
        //是否开启签到活动
        if ($("#isSignOn").val() == "0") {
            $(".member-sign").parent("li").eq(0).hide();
        }

        //如果按钮数量是三的倍数,隐藏[更多]
        if ($(".member-img-tags").children("li:visible").length % 3 == 1) {
            $(".shop-no").parent("li").eq(0).hide();
        }
        else if ($(".member-img-tags").children("li:visible").length % 3 == 2) {
            $(".shop-no").closest("ul").append("<li><a class='shop-no'>更多</a></li>");
        }
    });
    

    $(function(){
        $(".memberCenter .user-photo").css({ "left": ($(".memberCenter").width() - $(".memberCenter .user-photo").width()) / 2 + "px" });
        var myOrdersCount = $("#vMemberCenter_myOrdersCount").val();
        $("#num_MyOrders").html("("+myOrdersCount+")");
    });

    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
    if ($(".myList").find("i").html() != 0 && $(".myList").find("i").html() != undefined && $(".myList").find("i").html() != "") {
        $(".myList").find(".span1").html("").css({ "background": "red" });
    } else {
        $(".myList").find(".span1").css({ "background": "#ffffff" });
    }
    
</script>
<Hi:Common_Footer runat="server" />
